<div class="jumbotron">
  <h1>Punch Clock</h1>
   <p>A Punchclock Application</p>
   <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_teacher_path, class: 'btn btn-primary' %> today!
   </p>
</div>
